.vid{
    height: 600px;
    box-shadow: 5px 5px 15px 5px  
    #fe5d1ec4;
    overflow: hidden;
    border-radius: 20px;
    object-fit: cover;
    margin-bottom: 3rem;
    video{
    
       text-align: center;
       align-items: center;
        width: 1800px;
        object-fit: cover;
        border-radius: 20px;
      
    }
   
}